<table>
  <tbody>
    <% @suggestions.each do |sug|%>
    <tr>
      <td><%= sug.count %>x</td>
      <td><%= sug.description%></td>
      <td><%= sug.remaining %></td>
      <td><%= number_to_currency(sug.value) %></td>
      <% if sug.finished?%>
        <td>&nbsp;</td>
      <% else %>
        <td><%= link_to "Pick This", new_suggestion_gift_path(sug), :class => "facebox" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
