<!DOCTYPE HTML>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Unlawfully Wedded Wives</title>
    <%= stylesheets %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="gradient">
      <div id="header">
        <img src="/images/header-left.png" id="left">
        <img src="/images/header-right.png" id="right">
        <img src="/images/header-curly.png" id="curly">
        <a href="/"><h1>Jess and Charlie <br>are Getting Married!</h1></a>
        <ul>
          <li class="<%= active_if_current(suggestions_path)%>"><%= link_to "the list", suggestions_path %></li>
          <li class="<%= active_if_current(details_path)%>"><%= link_to "some details", details_path %></li>
          <li class="<%= active_if_current(invite_path)%>"><%= link_to "the invite", invite_path %></li>
        </ul>
      </div>
      <div id="container">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="footer">
      <img src="/images/footer.png" alt="footer">
      <p>Send us an <a href="mailto:unlawfullyweddedwives@gmail.com">email</a> if you like!</p>
    </div>
    <%= javascripts %>
    <% if Rails.env == "production" %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20562148-2']);
      _gaq.push(['_setDomainName', '.unlawfullyweddedwives.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <% end %>
  </body>
</html>
